/.vscode
/__pycache__
/enwiki-20230301-pages-articles-multistream-index1.txt
/enwiki-20230301-pages-articles-multistream-index1.txt.bz2
/enwiki-20230301-pages-articles-multistream1.xml.bz2
/wiki_parquet
embeddings.onnx
.env
env